* {
    box-sizing: border-box;
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
}
.titleText {
    text-align: center;
}

.wrapper {
    background: #777;
    border: 1px solid #f24;
    width: 100vw;
    height: 100vh;
}
.navbar{
    width: 100vw;
    height: 50px;
    background: #cde2d0;
}