* {
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    position:relative;
    box-sizing: border-box;
    font-size: 21px;
    margin: 0;
    padding: 0;
    z-index: 1;
}
h5{
    text-align: center;
    color: #fff;
}
p{
    font-size: 16px;
    margin: 16px auto;
    color: rgba(255,255,255,.6);
}
/* 看看書櫃，文字超連結 */
.textReadBook{
    font-size: 21px;
    text-align: center;
    color: rgba(255,255,255);
    line-height: 0;
}
.textReadVideo{
    font-size: 21px;
    text-align: center;
    color: rgba(255,255,255);
    line-height: 0;
    top: 10px;
}
/* 紅色邊線 */
.borderLine {
    border: 1px solid #f24;
}
/* 麵包屑(Breadcrumbs) */
.navbar{
    width: 100vw;
    height: 40px;
    background: #cde2d0;
    line-height: 0;
    color: #2d3a3a;
    overflow: hidden;
    /* text-overflow:ellipsis; */
    /* overflow : hidden; */
    font-size: 12px;
    white-space: nowrap;
}
/* 書評列表，效果圖片(參照用)*/
.reviewerList {
    background: #fff;
    max-width: 1200px;
    min-height: 2050px;
    margin: 0 auto;
    background: url(../reviewer_page/images/01_書評家.png) center center;
    background-size:cover;
}
/* 書評列表，偽元素遮罩 */
.reviewerList::after{
    content: "";
    display: block;
    background: rgba(0,0,0,.5);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
}
/* 看看書櫃，效果圖片(參照用)*/
.reviewerBooks {
    background: #fff;
    max-width: 1200px;
    min-height: 2050px;
    margin: 0 auto;
    background: url(../reviewer_page/images/02_看看書櫃.png) center center;
    background-size:cover;
}
/* 看看書櫃，偽元素遮罩 */
.reviewerBooks::after{
    content: "";
    display: block;
    background: rgba(0,0,0,.5);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
}


/* 頭像區域 */
.brAvatarBox{
    max-width: 140px;
    height: 320px;
}
/* 頭像圖片 */
.brAvatarImg{
    width: 100%;
}

/* 自我介紹區域 */
.brInfoBox{
    width: 500px;
    height: 321px;
}
/* 介紹內文限制8行 */
.brInfoText{
    color: #fff;
    min-width: 240px;
    margin: 0 40px;
    padding: 5px;
    overflow : hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}


/* 列表區域 */
.ReviewerListAllBox{
    display: flex;
}
/* 列表區域，RWD */
@media (max-width: 768px) {
    .ReviewerListAllBox {
        display: inline-block;
    }
}
/* 看看書櫃，全區域 */
.brMediaBox{
    background: #000;
    width: 460px;
    height: 321px;
}
/* 書櫃區 */
.brMyBooks{
    background: #f24;
    width: 160px;
    height: 200px;
}
/* 書櫃封面 */
.brDeskBook{
    width: 100%;
}
/* 影片區 */
.brMyVideo{
    width: 300px;
    height: 200px;
}
/* 影片擺放位置 */
.brYouTube{
    top: 10px;
    left: 20px;
}
/* 社群及追蹤作者區域 */
.brIconBox{
    background: #000;
    width: 100%;
    margin: 10px auto;
    justify-content: space-between;
}
/* 社群分享 */
.brIconCommunity{
    width: 150px;
    margin: 0 12px;
    justify-content: space-around;
}
/* 追蹤作者 */
.brIconFollow{
    width: 200px;
    margin: 0 36px 0 0;
}