* {
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    position:relative;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    z-index: 1;
}
/* 標題文字 */
h5{
    text-align: center;
    color: #fff;
    margin:3px;
}
/* 邊框顏色，參照用 */
.borderLine {
    border: 3px solid #2d3a3a;
}
.borderLineTop {
    border-top:3px solid #2d3a3a;
}
/* 麵包屑(Breadcrumbs) */
.navbar{
    width: 100%;
    height: 40px;
    background: #cde2d0;
    line-height: 0;
    color: #2d3a3a;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
}
/* 書評列表 (參照背景)*/
.reviewerList {
    background: #fff;
    max-width: 1200px;
    min-height: 2050px;
    margin: 0 auto;
    /* background: url(../reviewer_page/images/01_書評家.png) center center; */
    background-size:cover;
}
/* 書評列表 (參照偽元素) */
.reviewerList::after{
    content: "";
    display: block;
    background: rgba(0,0,0,.4);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
}
/* 分頁，看看書櫃 (參照偽元素) */
.reviewerBooks {
    background: #fff;
    max-width: 1200px;
    min-height: 2050px;
    margin: 0 auto;
    background: url(../reviewer_page/images/02_看看書櫃.png) center center;
    background-size:cover;
}
/* 分頁，看看書櫃 (參照偽元素) */
.reviewerBooks::after{
    content: "";
    display: block;
    background: rgba(0,0,0,.4);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
}
/* 頭像區域 (縮放限制) */
.brAvatarAllBox{    
    min-width: 120px;
    max-width: 210px;
}
/* 書評家 (type)、職業介紹 (文字) */
.AvatarInfo{
    text-align: center;
    font-size: 1rem;
    color: rgba(255,255,255,.6);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 看看書櫃 (按鈕、超連結)*/
.brReadBooks{
    font-size: 1rem;
    color: #fff;
    margin: 10px;
}
/* 頭圖 (縮放比例、置中位置) */
.brAvatarImg{
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
/* 書評家簡介全區域 (縮放限制) */
.brInfoBox{
    min-width: 265px;
    max-width: 600px;
}
/* 書評家簡介，(文字、限制行數) */
.brInfoText{
    font-size: 1rem;
    margin: 16px;
    color: rgba(255,255,255,.7);
    overflow : hidden;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
}
/* 書評家的影片區域 (縮放限制) iFrame設定高度Auto，此區域限制用百分比設定 */
.brMyVideoBox{
    min-width: 20%;
    max-width: 33%;
}
/* 職業介紹、追蹤作者、社群分享，共用區域 (按鈕圖片) */
.brIconBox{
    min-height: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 追蹤作者 (按鈕) */
.brIconFollow{
    max-width: 75%;;
}
/* 分享圖示 (按鈕) */
.brIconShare{
    width: 23%;
    margin: 5px 6px;
}

/* 書評家列表，整體區域 ( Display狀態改變) */
.ReviewerListAllBox{
    display: flex;
}
@media (max-width: 786px) {
    /* 書評家列表，整體區域 (狀態改變) */
    .ReviewerListAllBox {
        display: inline-block;
    }
    /* 影片顯示，RWD (狀態改變) */
    .brYouTubeRWD{
        width: 100%;
    }
}