/* 麵包屑 */
.navbar{
    width: 100vw;
    height: 40px;
    background: #cde2d0;
}
* {
    box-sizing: border-box;
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    position:relative;
}
.flex{
    display:flex
}
.borderLine {
    border: 2px solid #f24;
}

.titleText {
    text-align: center;
}

.wrapper {
    background: #fff;
    margin: 0 auto;
    width: 1200px;
    height: 2050px;
}
/* 效果圖 */
.testPic{
    left:0;
    right:0;
    position: absolute;
    top: 510px;
    opacity: .5;
}
.Avatar{
    z-index:1;
    width: 360px;
    height: 330px;  
}
.bookText{
    z-index:1;
    width: 420px;
    height: 330px;  
}
.bookInfo{
    z-index:1;
    width: 420px;
    height: 330px;  
}

/* .Avatar::after{
            content: "";
            position: absolute;
            width:100vw;
            left:0px;
            top:-460px;
            right:0px;
            bottom:0px;
            background: url("../reviewer_page/images/01_書評家.png");
            opacity: .5;
} */