.pointer {
  cursor: pointer;
}

.header-img {
  position: 'relative';
  width: '100vw';
}

/* logo */
.logo {
  top: 5vw;
  right: 44vw;
  min-width: 10%;
  min-height: 6.5vw;
  background: url(./images/pbook_logo_black.png) center center no-repeat;
  background-size: cover;
}

/* 上方書籤 */
.cartButton {
  min-width: 6%;
  min-height: 7vw;
  background: #2d3a3a;
  top: 0;
  right: 19%;
  border-radius: 0 0 100px 100px;
  color: #ffffff;
}

.loginButton {
  min-width: 6%;
  min-height: 7vw;
  background: #2d3a3a;
  top: 0;
  right: 11%;
  border-radius: 0 0 100px 100px;
}

.loginImg {
  min-width: 60%;
  min-height: 3.5vw;
  margin: 5px 0 5px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.loginText {
  color: #ffffff !important;
  display: none;
  font-size: 0.8vw !important;
  margin: 2px 0 !important;
}

.loginImg,
.loginText:hover {
  color: #ffc408 !important;
  text-decoration: none !important;
}

@media (max-width: 999.98px) {
  .cartButton {
    display: none !important;
  }

  .loginButton {
    display: none !important;
  }

  .logo {
    top: 5vw;
    right: 44vw;
    min-width: 15%;
    min-height: 10vw;
    background: url(./images/pbook_logo_black.png) center center no-repeat;
    background-size: cover;
  }
}

/* 主功能按鈕 */
.titleZh {
  font-size: 1.2vw !important;
  color: #2d3a3a;
}

.titleZh-white {
  font-size: 1.2vw !important;
  color: #fff !important;
  text-decoration: none !important;
}

.titleEn {
  font-size: 0.8vw !important;
  color: #ffc408 !important;
}

.titleButton {
  position: absolute !important;
  top: 16vw !important;
  right: 32vw !important;
}

.text-center:hover {
  transform: translate3d(1px, 1px, 1px) !important;
  text-shadow: 0.1em 0.1em 0 rgb(173, 173, 173) !important;
  text-decoration: none !important;
}

@media (max-width: 999.98px) {
  .titleButton {
    display: none !important;
  }
}

@media (min-width: 1000px) and (max-width: 1300.98px) {
  .titleButton {
    top: 16vw;
    right: 28vw;
  }
}

/* 手機板的主功能按鈕 */
@media (min-width: 1000px) {
  .phoneTitleHide {
    display: none !important;
  }
}

@media (max-width: 999.98px) {
  .menu {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    padding: 0 0 0 2px;
    background: #2d3a3a;
    width: 48px;
    height: 45px;
    transition: 0.5s;
    right: 15px;
    top: 15px;
    z-index: 2;
  }

  .menu.active {
    background: #fff;
  }

  .menu ul {
    position: absolute;
    left: -72px;
    top: 45px;
    background: rgba(255, 255, 255, 0.8);
    width: 120px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  .menu.active ul {
    opacity: 1;
    max-height: 400px;
  }

  .a {
    color: #2d3a3a;
    display: block;
    padding: 10px 12px;
  }

  .a:hover {
    color: #ffffff;
    text-decoration: none;
    background: #ffc408;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .bar {
    width: 30px;
    height: 4px;
    background: #ffc408;
    margin: 8px 7px;
    border-radius: 2px;
    transition: 0.5s;
  }

  .active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
  }

  .active .bar2 {
    opacity: 0;
  }

  .active .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
  }
}

.long {
  min-height: 15vw;
}

.show {
  display: block;
}

.transition {
  transition: 0.5s;
}
